apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-go-bxhuolzl
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-go-bxhuolzl:953a22adbfaa64596e9ec2ad4e411359acd0e09c@sha256:6c0d305f5441487c5aabf3cc9cb70fdec769e84bb0730592c64e055dd4387dce
        name: container-image  
